{% extends "EasyComm/base.html" %}
{% load staticfiles %}

{% block title %} 
	Contáctanos
{% endblock %}

{% block scripts %}
	<script src="{% static 'oscar/js/contact-us.js'%}"></script>
{% endblock %}

{% block content %}	
	<div class="row ">
		<div class="col-sm-12 col-md-8 mt-2" >
			<div class="col-md-12">
	            <div id="map" style="height: 450px"></div>
	        </div>
		</div>
		<div class="col-sm-12 col-md-4 mt-2" >
            <div class="card">
                <div class="card-body">
                	<br>
                    <h5 class="card-title">Correo electrónico</h5>
                    <h6 class="card-subtitle mb-2 text-muted">support@easyComm.com</h6>
                    <br>
                    <br>
                    <h5 class="card-title">Teléfonos</h5>
                    <h6 class="card-subtitle mb-2 text-muted">0989389265</h6>
                    <h6 class="card-subtitle mb-2 text-muted">0989389265</h6>
                    <br>
                    <br>
                    <h5 class="card-title">Dirección</h5>
                    <h6 class="card-subtitle mb-2 text-muted">García Moreno,Guayaquil 090311</h6>
                    <br>
                    <br>
                    <div class="flex-wrap d-flex justify-content-center share">
                        <i class="fa fa-facebook-square fa-4x" ></i>
                        <i class="fa fa-twitter-square fa-4x"></i>
                        <i class="fa fa-google-plus-square fa-4x"></i>
                        <i class="fa fa-skype fa-4x"></i>
                        <i class="fa fa-linkedin fa-4x"></i>
                        <i class="fa fa-whatsapp fa-4x"></i>
                    </div>
                    <br>
                </div>
            </div>
	    </div>

		<div class="col-sm-12 col-md-12 mt-2" >
			<form method="post">
                    {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-12 col-md-6 form-group">
                        <label for="inputNombres">Nombres</label>
                        <input type="text" name="nombre" class="form-control" id="inputNombres" required>
                    </div>
                    <div class="col-sm-12 col-md-6 form-group">
                        <label for="inputApellidos">Apellidos</label>
                        <input type="text" name="apellido" class="form-control" id="inputApellidos" required>
                    </div>
				    <div class="col-sm-12 col-md-6 form-group">
				      <label for="inputCorreo">Correo electrónico</label>
				      <input type="email" name="correo" class="form-control" id="inputCorreo" required>
				    </div>
                    <div class="col-sm-6 col-md-3 form-group">
                      <label for="inputPais">País</label>
                      <input type="text" name="pais" class="form-control" id="inputPais" placeholder="Ecuador" required>
                    </div>
                    <div class="col-sm-6 col-md-3 form-group">
                      <label for="inputCiudad">Ciudad</label>
                      <input type="text" name="ciudad" class="form-control" id="inputCiudad" placeholder="Guayaquil" required>
                    </div>
                    <div class="col-sm-12 col-md-12 form-group">
                      <label for="inputMensaje">Mensaje</label>
                      <textarea class="form-control" name="mensaje" id="inputMensaje" rows="3"></textarea>
                    </div>
                </div>
                    <div class="row p-2">
                      <button type="submit" class="col-sm-12 offset-md-3 col-md-6 btn btn-primary">Enviar</button>
                    </div>
			</form>
		</div>
    </div>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBACmncymgwI-gq26ZED5L_sJrFW1qBjuA&callback=initMap"></script>
	
{% endblock %}

