<!DOCTYPE html>
<html lang="zxx" >
	<head>
		<meta charset="UTF-8">
		<title> EasyComm - Socios </title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Grupo3 &amp;6"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" >
		<link rel="stylesheet" type="text/css" href="css/base.css" >
		<link rel="stylesheet" type="text/css" href="css/partner.css" >
		<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"> 
	</head>

	<body>
		<header>
			<h1>Easycomm</h1>
		</header>

		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-center">
		    	<li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
				<li class="nav-item"><a class="nav-link" href="products.html">Productos</a></li>
				<li class="nav-item active"><a class="nav-link" href="partners.html">Socios</a></li>
				<li class="nav-item"><a class="nav-link" href="faqs.html">FAQs</a></li>
				<li class="nav-item"><a class="nav-link" href="contact_us.html">Contacto</a></li>
				<li class="nav-item"><a class="nav-link" href="validaciones.html">Validaciones</a></li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0 nav-form">
		      <input class="form-control mr-sm-2" type="search" placeholder="Buscar">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
		    </form>
		  </div>
		</nav>
		<!-- end navbar -->
        <br>
		<!-- content -->

		<div class="contenedor">
  			<div class="row ">
				<div class="col-md-12 " >
					<h2>Socios</h2>
					<p class="text-justify">
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
					<br>
					<br>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 thumbnail border p-1 mb-2 text-center">
                    <h3 >Socio 1</h3>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
                        <h4>
			           		<img class="image img-responsive border" src="img/partners/partner1.jpg" alt="Partner 1">
                        </h4>
			        </section>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			            <a href="https://14308-ar.all.biz/">Official Site</a> 
			        </section>
    			</div>

    			<div class="col-xs-12 col-sm-6 col-md-4 thumbnail border p-1 mb-2 text-center">
					<h3 >Socio 2</h3>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
                        <h4>
			            	<img class="image img-responsive border" src="img/partners/partner2.jpg" alt="Partner 2">
                        </h4>			        
                    </section>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left">
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			            <a href="https://14308-ar.all.biz/">Official Site</a> 
			        </section>
    			</div>

    			<div class="col-xs-12 col-sm-6 col-md-4 thumbnail border p-1 mb-2 text-center">
					<h3 >Socio 3</h3>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			        	<h4>
			           		<img class="image img-responsive border" src="img/partners/partner3.jpg" alt="Partner 3">
			       		</h4>
			        </section>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			            <a href="https://14308-ar.all.biz/">Official Site</a> 
			        </section>
    			</div>

    			<div class="col-xs-12 col-sm-6 col-md-4 thumbnail border p-1 mb-2 text-center">
					<h3 >Socio 4</h3>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			        	<h4>
			           		<img class="image img-responsive border" src="img/partners/partner4.jpg" alt="Partner 4">
			           	</h4>
			        </section>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			            <a href="https://14308-ar.all.biz/">Official Site</a> 
			        </section>
    			</div>

    			<div class="col-xs-12 col-sm-6 col-md-4 thumbnail border p-1 mb-2 text-center">
					<h3 >Socio 5</h3>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			        	<h4>
			           		<img class="image img-responsive border" src="img/partners/partner5.jpg" alt="Partner 5">
			           	</h4>
			        </section>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			            <a href="https://14308-ar.all.biz/">Official Site</a> 
			        </section>
    			</div>

    			<div class="col-xs-12 col-sm-6 col-md-4 thumbnail border p-1 mb-2 text-center">
					<h3 >Socio 6</h3>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			        	<h4>
			           		<img class="image img-responsive border" src="img/partners/partner6.jpg" alt="Partner 6">
			           	</h4>
			        </section>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			            <a href="https://14308-ar.all.biz/">Official Site</a> 
			        </section>
    			</div>

    			<div class="col-xs-12 col-sm-6 col-md-4 thumbnail border p-1 mb-2 text-center">
					<h3>Socio 1</h3>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			        	<h4>
			           		<img class="image img-responsive border" src="img/partners/partner1.jpg" alt="Partner 1">
			           	</h4>
			        </section>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			            <a href="https://14308-ar.all.biz/">Official Site</a> 
			        </section>
    			</div>

    			<div class="col-xs-12 col-sm-6 col-md-4 thumbnail border p-1 mb-2 text-center">
					<h3 >Socio 2</h3>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			        	<h4>
			           		<img class="image img-responsive border" src="img/partners/partner2.jpg" alt="Partner 2">
			           	</h4>
			        </section>
			        <section class="col-xs-12 col-sm-12 col-md-6 pull-left" >
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			            <a href="https://14308-ar.all.biz/">Official Site</a> 
			        </section>
    			</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
					  <h3 class="text-center">Linea de tiempo de firma de convenio con nuestros socios</h3>
					</div>
					<br>
					<ul class="timeline">
						<li class="timeline-item ">
							<div class="border timeline-panel rounded p-2">
								<p class=""><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 21 de agosto del 2013</small></p>
								<div class="timeline-body">
									<p>Asociación con la Municipacidad de Guayaquil</p>
								</div>
							</div>
						</li>
						<li class="timeline-item ">
							<div class="border timeline-panel rounded p-2">
								<p class=""><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 21 de junio del 2014</small></p>
								<div class="timeline-body">
									<p>Asociación con la Municipacidad de Cuenca</p>
								</div>
							</div>
						</li>
						<li class="timeline-item " >
							<div class="border timeline-panel rounded p-2" >
								<p class=""><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2 de enero del 2015</small></p>
								<div class="timeline-body" >
									<p>Asociación con la Ministerio de Comercio</p>
								</div>
							</div>
						</li>
						<li class="timeline-item ">
							<div class="border timeline-panel rounded p-2">
								<p class=""><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2 de enero del 2016</small></p>
								<div class="timeline-body">
									<p>Asociación con el Consorcio de transportista de carga de Perú</p>
								</div>
							</div>
						</li>
						<li class="timeline-item ">
							<div class="border timeline-panel rounded p-2">
								<p class=""><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2 de enero del 2017</small></p>
								<div class="timeline-body">
									<p>Asociación con el Consorcio de transportista de carga de Colombia</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<!-- end content -->

		<hr>
		<!-- footer -->
		<footer class="footer">
			<ul class="footer-menu">
		      <li class="off-1 col-12 col-sm-12 col-md-2"><a href="">FAQs</a></li>
		      <li class="col-12 col-sm-12 col-md-2"><a href="">Terms &amp; Conditions</a></li>
		      <li class="col-12 col-sm-12 col-md-2"><a href="about_us_g3.html">Acerca de</a></li>
		      <li class="col-12 col-sm-12 col-md-2"><a href="contact_us.html">Contacto</a></li>
			</ul>
		  	<div class="footer-copyright text-center">&copy; 2018 Copyright:
		    	<a href=""> EasyComm.com</a>
		  	</div>
		</footer>
		<!-- endfooter-->

	</body>
</html>
